

<div class="footer-divider">
	<div class="footer">
	<p class="footer_SS"><%=t :sharingstuff2013%></p>
	<div class="politica">
		<p class="footer"><%=t :politica%></p>
		<p class="footer"><%=t :condiciones%></p>
	</div>
</div>
</div>
<ul  class="widget-cols cf">
	<li class="scroll"></li>
</ul>



