<header class="cf">
	<div id="logo">
		<a href="/"><h1 class="cabecera">SharingStuff</h1></a>
	</div>

	<!-- social-bar -->
	<ul id="social-bar" class="cf">
		<li class="facebook">
			<a href="http://www.facebook.com/pages/Ansimuz/224538697564461"  title="Facebook" ></a>
		</li>
		<li class="twitter">
			<a href="https://twitter.com/ansimuz"  title="twitter" ></a>
		</li>
	</ul>
	<!-- ENDS social-bar -->
	<!-- LOGIN
	<div class="login">
		<form accept-charset="UTF-8" action="/new_user" id="new_user" method="post">
			<p class="elige">Log in</p>
			<input name="login" type="registro" placeholder="<%=t :email%>" size="30" type="text" value="">
			<input name="password" type="registro" placeholder="<%=t :contraseña%>" size="30" type="password">
			<input class="enviar" type="submit" value="<%=t :envio_datos%>"/>
		</form>
	</div>
	-->
</header>